<launch>
  <include file="$(find check)/check.launch" >         
   </include>
  <include file="$(find darknet_ros)/launch/darknet_ros.launch" >         
   </include>
  <include file="$(find point_cloud_converter)/launch/point_cloud_converter.launch" >         
   </include>
  
  <include file="$(find pointcloud_to_laserscan)/launch/pointcloud_to_laserscan_mip.launch" >         
   </include>
  <include file="$(find lidar_obstacle_detector)/launch/lidardetect_mip.launch" >         
   </include>
  
</launch>
